site:
  title: Helgoboss Docs
  url: https://docs.helgoboss.org
  start_page: helgobox::introduction.adoc
  robots: allow

content:
  sources:
  - # Helgobox
    url: https://github.com/helgoboss/helgobox.git
    #    url: ../realearn
    branches: HEAD
    start_path: doc/helgobox

  - # ReaLearn
    url: https://github.com/helgoboss/helgobox.git
    #    url: ../realearn
    branches: HEAD
    start_path: doc/realearn

  - # Playtime
    url: https://github.com/helgoboss/helgobox.git
    #    url: ../realearn
    branches: HEAD
    start_path: doc/playtime

  - # Jam Pad
    url: https://github.com/helgoboss/jampad-public.git
#    url: ../jampad-public
    branches: HEAD
    start_path: docs/antora


ui:
  bundle:
    url: https://gitlab.com/antora/antora-ui-default/-/jobs/artifacts/HEAD/raw/build/ui-bundle.zip?job=bundle-stable
    snapshot: true
  supplemental_files: ./supplemental-ui

output:
  clean: true

runtime:
  fetch: true
  log:
    level: info

antora:
  extensions:
    # Enables search
    - '@antora/lunr-extension'
    # Enables a global ID index
    - ./antora-extensions/global-id-index
    # Substitutes cross-page xrefs to fragments with their titles (weird that this is not a
    # native Antora/Asciidoc feature)
    - './node_modules/antora-xref-extension/packages/antora-xref-extension/lib/index.js'
    # DEV: Work with local antora-xref-extension instead
#    - '../antora-xref-extension/packages/antora-xref-extension/lib/index.js'
    # Generates PDFs (see antora-assembler.yml)
    - '@antora/pdf-extension'
    # Web: Generates Mermaid diagrams using the antora-mermaid-extension, not Kroki.
    # Benefits: Completely local & SVG inlined into HTML, which makes it searchable
    # (inlining not possible with Kroki, at least not when kroki-fetch-diagram is true)
    - require: '@sntke/antora-mermaid-extension'
      mermaid_library_url: https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs
      script_stem: header-scripts
      mermaid_initialize_options:
        start_on_load: true

asciidoc:
  extensions:
    # Uses Kroki to generate diagrams for web.
    - 'asciidoctor-kroki'
  attributes:
    # For making menu and button macros work
    experimental: true
    # For showing prev/next links
    page-pagination: ''
    # Kroki: Generate web diagrams at build time
    kroki-fetch-diagram: true